[accounts.example]

# Makes this account the default one when `--account` is omitted.
#
default = true

# Enables Unix socket client and server.
# Requires Unix system.
#
unix-socket.path = "/tmp/comodoro.sock"

# Makes Unix socket the default client choice when `--protocol` is
# omitted.
#
unix-socket.default = true

# Enables TCP client and server.
#
#tcp.host = "127.0.0.1"
tcp.port = 9999

# Makes TCP the default client choice when `--protocol` is omitted.
#
#tcp.default = true

# A cycle is a step in the timer lifetime, represented by a name and a
# duration (in seconds).
#
# Example of a Pomodoro cycles:
#
cycles = [
  { name = "Work", duration = 1500 },      # 25 min
  { name = "Rest", duration = 300 },       #  5 min
  { name = "Work", duration = 1500 },      # 25 min
  { name = "Rest", duration = 300 },       #  5 min
  { name = "Work", duration = 1500 },      # 25 min
  { name = "Long rest", duration = 1800 }, # 30 min
]

# Example of a 52/17 cycles:
#
#cycles = [
#  { name = "Work", duration = 3120 }, # 52 min
#  { name = "Rest", duration = 1020 }, # 17 min
#]

# Example of a 112/26 cycles:
#
#cycles = [
#  { name = "Work", duration = 6720 }, # 112 min
#  { name = "Rest", duration = 1560 }, #  26 min
#]

# Forces the timer to stop after the given amount of loops.
#
#cycles-count = 5

# Customize the timer precision.
# Available options: second, minute, hour.
#
precision = "minute"

# A hook can be either a shell command and/or a system notification.
#
# Hook names follow the format "on-{name}-{event}", where "name" is
# the kebab-case version of the cycle name, and "event" the type of
# event: begin, running, set, pause, resume, end.
#
#hooks.on-work-begin.command = "echo 'Work started!' >> /tmp/comodoro.log"
hooks.on-work-begin.notify.summary = "Comodoro"
hooks.on-work-begin.notify.body = "Work started!"
